<html>
	<head>
		<title> fitifitifiti </title>
	</head>
	<body>
		<div>
			<h1> LAYLAYLOM site yaptiim</h1>
		</div>

		<div>
			<p>Published:12.12.2015 16:51 </p>

		<p> simdi bu yazdilari buyuk kucuk renkli italik bold falan yapmayi ogrenmek istiyoruum (ノ^o^)ノ  HHKHKHKHKHKHHKKKH  </p>
		<p> hatta ogrendim bile: <em>panda panda paanda</em> <strong>panda enfes dondurmaa</strong>
		</div>
		<div> 
			<h2> o zaman dans! </h2>
		</div>
		<div>
			<p> <strong>♪♪   ƪ(˘▽˘)┐ ƪ(˘▽˘)ʃ ┌(˘▽˘)ʃ   ♪♪ </strong> 
		</div>

		<div>
			<h3> ve elbette kediler</h3>
		</div>
		<IMG SRC="nyans.gif" ALT="some text" WIDTH=32 HEIGHT=32>
	</body>
</html>